<!DOCTYPE html>
<html>
  <head>
    <title>MusicBox1804</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render partial: 'nav/login-bar' unless params[:controller] == 'sessions' && params[:action] == 'new'%>
    <%= render partial: 'nav/blank-nav' if params[:controller] == 'sessions' && params[:action] == 'new'%>
    <%= yield %>
  </body>
</html>
